body {
    font-family: 'Nunito Sans', sans-serif;
    height: 100vh;
    margin: 0;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 3.75rem;
}

h2 {
    font-weight: 200;
}

h3 {
    font-size: 1.4rem;
    padding-top: 120px;
}

@media (max-width: 576px) {
    h3 {
        font-size: 1.2rem;
    }

    
}

#main {
    text-align: center;
    align-items: center;
    padding-top: 200px;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: black;
}


#navbar *{
    color: white;
    text-decoration: none;
    font-size: 1.05rem;
    padding: 10px;
}

#navbar span {
    margin-right: auto;
}